html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.322);
    /* background: linear-gradient(90deg, #ff3700 35%, rgba(0, 212, 255, 1) 100%); */
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #09366d;
    position: sticky;
    top: 0;

}

.menu-icon {
    display: none;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    color: #09366d;
    background-color: #ff3700;
}


#app-preview {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    overflow: hidden;
}

hr {
    border-color: #5ecb58;
    width: 600px;

}
span {
    color: rgb(14, 0, 0);
}

#welcome {
    display: flex;
    align-items: center;
    background-image: url('src/welcome_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#col1 {
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    color: #09366d;
}

#col1-heading {
    font-size: 42px;
    margin-bottom: 20px;
    line-height: 1.2;
}

#col1-heading-para {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.8;
}

#col2 {
    flex: 1;
}

#product {
    display: flex;
    flex-direction: row;
    margin-left: 1px;
    margin-right: 1px;
    
}

#product-col1 {
    flex: 1;

}

#product-col2 {
    flex: 1;

}

#product-col1-heading {
    margin-top: 60px;
    margin-left: 180px;
    font-size: 40px;

}

.logo {
    margin: 40px;
}

.logo img {
    width: 500px;
    height: 400px;
    margin: 0 50px;
}

#product-col2-heading {
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: 100px;
    font-size: 24px;

}

#col2-heading-para {
    padding: 0 100px;
    font-size: 22px;
    line-height: 2;

}

#team {
    align-items: center;
    background-image: url('src/team-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#team-intro {
    padding: 20px;
    text-align: center;
}

#heading {
    font-size: 40px;
    text-align: center;
    color: #000;
    margin: 40px 0;
}

#intro-para {
    font-size: 20px;
    line-height: 1.8;
}

#team-members {
    display: flex;
    justify-content: space-between;

}

.team-member {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    margin: 0 80px;
}

/* Adjust team photos here */
/* .member-img {
    width: 100%;
    background-color: #f3f3f3cc;
} */

.team-member hr{
    border-color: #09366d;
    width: auto;

}

.member-detail {
    padding: 50px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-image: url('src/member_detail_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.social img {
    width: 30px;
    height: 30px;
}

.member-detail-bio {
    line-height: 1.5;
    margin-top: 30px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    margin: 20px 0;
    background-image: url('src/contact_bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.address {
    flex: 1;
    background-image: url('src/address_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: 0 10px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
}

.email {
    flex: 1;
    background-image: url('src/contact_bg_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    margin: 0 10px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
}

.address-logo {
    width: 100px;
    height: 100px;
}

.contact-phone {
    width: 80px;
    height: 80px;
}

.contact-email {
    width: 80px;
    height: 80px;
}

.contact-para {
    font-size: 20px;
    line-height: 1.8;
    margin-top: 40px;
    
}

#legal {
    flex: 1;
    padding: 40px;
    /* margin: 10px 0; */
    min-height: 90vh;
    background-image: url('src/legal-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

#legal-para {
    margin-top: 40px;
    padding: 0 120px;
    line-height: 2;
    font-size: 18px;
    color: white;
}

footer {
    text-align: center;

}

/* For mobile: */
@media only screen and (max-width: 600px) {
    #app-preview {
        width: 100%;
    }

    ul.topnav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-item {
        display: none;
    }

    .menu-icon {
        display: block;

    }

    hr {
        border-color: #5ecb58;
        width: 250px;

    }

    #welcome {
        display: flex;
        flex-direction: column-reverse;
    }

    #col1 {
        padding: 2px 10px ;
        margin: 0 2px ;

    }

    #col1-heading {
        font-size: 32px;
        /* margin-bottom: 10px; */
    }

    #col1-heading-para {
        font-size: 18px;
    }

    #col2 {
        height: 400px;
        width: 300px;
    }

    #col2-heading-para {
        padding:10px 20px;
        font-size: 18px;
    }

    #product {
        display: flex;
        flex-direction: column;
    }

    #product-col1-heading {
        margin-top: 20px;
        margin-left: 20px;
        font-size: 32px;
    }

    #product-col2-heading {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 18px;
    }

    .logo {
        margin: 0;
    }

    .logo img {
        display: block;
        margin: auto;
        width: 250px;
        height: 200px;
    }

    #team {
        margin: 0 1px;
    }

    #team-intro {
        padding: 10px;
    }

    #heading {
        font-size: 32px;
        margin-bottom: 10px;
    }

    #intro-para {
        font-size: 16px;
    }

    #team-members {
        flex-direction: column;
    }

    .team-member {
        margin: 10px;
    }

    .member-detail {
        padding: 10px;
    }

    #legal {
        padding: 20px;
        margin-top: 20px;
    }

    #legal-para {
        padding: 0 10px;
        margin-top: 20px;
        font-size: 14px;
    }

    #contact {
        padding: 10px;
    }

    .contact-info {
        flex-direction: column;
    }

    .address,
    .email {
        margin: 10px 0;
    }

    .address-logo {
        width: 50px;
        height: 50px;
    }

    .contact-phone {
        width: 40px;
        height: 40px;
    }

    .contact-email {
        width: 40px;
        height: 40px;
    }

    .contact-para {
        font-size: 16px;
    }

    /* footer {
       
        font-size: 14px;
        width: 250px;
    }

    footer img {
        margin: 0 2px ;
        width: 280px;
        height: 50px;
    } */

}